extends layout

block content
    div(class='gridContainer')
        - var n = 0;
        while n < 5
            - n++;
            div(class='item')
        div(class='log-out')
            a(href='/logout')
                span(class='link')
            strong(class='log-out-settings-text') Logout
        div(class='settings')
            strong(class='log-out-settings-text') Settings
        div(class='item-notif')
            p
                strong Assignments:
                p None!
        div(class='item-banner-back' style="background-color: "+ClassData.bannerColor+"")
            p(class='classCode') Class code:
                strong= ' ' + Class
        div(class='item-banner-top')
            h1(class='name')= ClassData.name
            p(class='subtext')= 'Period ' + ClassData.period
        div(class='announce')
            p Announce something to your class
            form(class='announce-form' method="post" action='/admin/class/'+Class+'/announce')
                textarea(class='announcement-input' type='text' id='announcementTextbox' placeholder='Write something!' name='announcement' value= announcement)
                p
                    strong TO: ALL STUDENTS
                    input(type='submit' value='Post' class='announcement-btn')
        - var m = 5;
        for Message in ClassData.messages
            div(class='message' style=`grid-row: ${m} / ${m + 3}; grid-column: 3 / 10;`)
                h1(class='messageAuthor')= Message.author+":"
                    p(class='messageDate')= Message.date
                p(class='messageContent')= Message.content
                if Message.comments.length > 0
                    div(class='message-comments' style=`grid-row: ${m + 1} / ${m + 2}; grid-column: 3 / 10;`)
                        h1 Comments:
                        for Comments in Message.comments
                            p(class='author')= `${Comments.author}: `
                                pContent= Comments.content
                div(class='message-comment-input' style=`grid-row: ${m + 2} / ${m + 3}; grid-column: 3 / 10;`)
                    form(class='announce-form' method="post" action='/admin/class/'+Class+'/comment/' + Message.id)
                        textarea(class='comment-input' type='text' id='commentTextbox' placeholder='Write a comment!' name='comment' value= comment)
                        input(type='submit' value='Post' class='comment-btn')
            - m+=3;